@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

*{
   margin: 0;
   padding: 0;
}

.container{
   max-width: 1400px;
   margin: 0 auto;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #e2e7ee;
   font-family: 'Poppins', sans-serif;
}

:root{ 
   --cor-1: #ecf0f5;
   --cor-2: #e1e9f1;
   --cor-3: #edf1f5;   
   --cor-4: rgba(163, 163, 163, 0.863);
   --cor-5: rgb(224, 224, 224);
   --cor-6: rgb(39, 52, 94);
   --cor-7: rgb(56, 56, 56);
}

/* ITEM */

.box-item{
   background-color: var(--cor-1);
   width: 350px;
   height: 700px;
   border-radius: 20px;
   box-shadow: 5px 0px 12px rgba(82, 82, 82, 0.164);

   display: flex;
   flex-direction: column;
   align-items: center;
}


/* BUTTON */

.button{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 30px;
}

.button-start{
   display: flex;
   align-items: center;

   border-radius: 8px;
   width: 65px;
   height: 34px;

   background-color: var(--cor-2);
   box-shadow: inset 1px 0px 3px var(--cor-4);
}

.button-select{
   border-radius: 8px;
   width: 28px;
   height: 28px;
   background-color: var(--cor-3);
   cursor: pointer;
   margin: 0 2px;
   box-shadow: 1px 0px 6px var(--cor-4);

   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   left: 0px;
}

.button-select i{
   transform: rotate(0);  
   transition: 0.5s;
   color: var(--cor-7);
}

/* Classe ativa com javascript */

.button-select-active{
   position: relative;
   left: 32px;
}

.button-select-active i{
   transform: rotate(180deg);
}

/* --------------------------- */


.button h1{
   margin-left: 20px;
   font-size: 1.4em;
   font-weight: 300;
   color: var(--cor-6);
}

/* INFO */

.info{
   background-color: var(--cor-2);
   box-shadow: -5px -5px 7px var(--cor-3), 
   5px 5px 8px var(--cor-5);  
   width: 90%;
   height: 60px;
   border-radius: 15px; 
   margin-top: 30px;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.info-text{   
   display: flex;
   align-items: center;
   margin-left: 30px;
   color: var(--cor-7);
}

.info-text p:last-child{
   color: var(--cor-6);
   margin-left: 30px;
   font-weight: 600;
}

.circle-arrow{
   background-color: var(--cor-2);
   box-shadow: -5px -5px 7px var(--cor-3), 
   5px 5px 8px var(--cor-5);  
   padding: 10px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.3em;
   margin-right: 30px;
   cursor: pointer;
}

.circle-arrow i{
   color: var(--cor-7);
}

/* CIRCLE */

.circle{
   width: 260px;
   height: 260px;
   border-radius: 50%;
   margin: 50px 0;

   background-color: var(--cor-2);
   box-shadow: -5px -5px 7px var(--cor-3), 
   5px 5px 8px var(--cor-5);  

   display: flex;
   align-items: center;
   justify-content: center;
}

.circle-rotate{
   width: 220px;
   height: 220px;
   border-radius: 50%;
  
   box-shadow: inset -5px -5px 7px var(--cor-3), 
   inset 5px 2px 8px var(--cor-5);

   display: flex;
   align-items: center;
   justify-content: center;
}

.circle-center{
   width: 170px;
   height: 170px;
   border-radius: 50%;
   
   box-shadow: 1px 1px 1px var(--cor-3),  
     -5px -5px 12px var(--cor-5);

   display: flex;
   align-items: center;
   justify-content: center;
}

.circle-center img{
   max-width: 100%;
}

/* RECTANGLE */

.rectangle{ 
   width: 90%;
   height: 80px;
   border-radius: 15px; 

   display: flex;
   align-items: center;
   justify-content: center;
}

.rectangle-center{
   width: 95%;
   height: 70px;
   border-radius: 15px;

   background-color: var(--cor-2);
   box-shadow: -2px -9px 7px var(--cor-3), 
   2px 8px 8px var(--cor-5); 

   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 30px;
}

.text-1{
   cursor: pointer;
   color: var(--cor-7);
}

.number-1{
   text-align: right;
}

.number-1 p, span{
   font-weight: 600;
   color: var(--cor-6);
}

/* MENU */

.menu{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 30px;
   width: 100%;
}

.menu-item{
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--cor-7);
   font-size: 1.2em;

   border-radius: 15px;

   background-color: var(--cor-2);
   box-shadow: -5px -5px 7px var(--cor-3), 
   5px 5px 8px var(--cor-5); 
   cursor: pointer;
}

.menu-item-actived{
   background-color: var(--cor-2);
   box-shadow: inset -5px -5px 12px var(--cor-2), 
    inset 8px 5px 7px  var(--cor-4); 
    color: var(--cor-6);
}